<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <form name="testForm">
        <input type="text" name="test1">
        <input type="text" name="test2">
        <button type="submit">send</button>
    </form>
    <script>
        const formEl = document.forms.testForm;

        formEl.addEventListener('submit', async (ev) => {
            ev.preventDefault();
            const formData = new FormData(ev.target);
            
            const { data } = await axios.post('/test', formData);
            console.log( data );
        })
    </script>
</body>
</html>